
<button  [routerLinkActive]="['active']" [routerLink]="['table']"> Take me to table</button>
<button  [routerLinkActive]="['active']" [routerLink]="['programiki']"> Take me to student programs</button>
<button  [routerLinkActive]="['active']" [routerLink]="['api-services']"> Take me to API Calls Service Way</button>
<button  [routerLinkActive]="['active']" [routerLink]="['api-ngrx-entity']"> Take me to API Calls NGRX Entity Way</button>
<button  [routerLinkActive]="['active']" [routerLink]="['api-ngrx-data']"> Take me to API Calls NGRX Data Way</button>
<button  [routerLinkActive]="['active']" [routerLink]="['charts']"> Take me to Charts</button>
some text for commit test
