section {
  display: block;
  width: 100%;
  form {
    width: 50%;
    mat-label {
      color: black;
    }
  }
  ::ng-deep {
    .mat-form-field-flex {
      background: gray;
      margin: 10px;
      color: white;
    }
  }
}

.blockEl {
  display: block;
}
