<section>

  <form [formGroup]="myFormGroup">
    <div *ngFor="let item of formTemplate; let i = index">
      <div [ngSwitch]="item.type">
        <div *ngSwitchCase="'textBox'">
          <mat-form-field class="blockEl" appearance="fill">
            <mat-label>{{item.translationGroupLabelValue}}</mat-label>

            <input matInput type="text" formControlName="{{ item.controlName }}">

            <button *ngIf="myFormGroup.controls[item.controlName].value" fxShow fxHide.sm="true" mat-button matSuffix
              mat-icon-button aria-label="Clear" (mousedown)="myFormGroup.controls[item.controlName].reset()"
              tabindex="-1">

            </button>

            <mat-error *ngIf="myFormGroup.controls[item.controlName].hasError('required')">
              {{item.translationGroupErrorValue1}}
            </mat-error>

          </mat-form-field>
        </div>
        <div *ngSwitchCase="'inputType'">
          <mat-form-field class="blockEl" appearance="fill">

            <mat-label>{{item.translationGroupLabelValue}}</mat-label>
            <input #inputTypeToggleIcon toggle matInput type="password" formControlName="{{ item.controlName }}"
              autocomplete="item.autoComplete">

            <button
              (mousedown)="inputTypeToggleIcon.type=inputTypeToggleIcon.type=='text' ? 'password' : 'text'; showIcon[i]=!showIcon[i]"
              mat-button matSuffix mat-icon-button aria-label="password" tabindex="-1">
              <mat-icon *ngIf="showIcon[i]">visibility_off</mat-icon>
              <mat-icon *ngIf="!showIcon[i]">visibility</mat-icon>
            </button>

            <mat-error *ngIf="myFormGroup.controls[item.controlName].hasError('required')">
              {{item.translationGroupErrorValue1}}
            </mat-error>


          </mat-form-field>
        </div>
      </div>

    </div>
  </form>
</section>
