<section class="jobSection">
  <h3>Zadanie 1 - Bingo!</h3>
  <p class="description">
    Napisz program, który wczyta liczbę (int) i jeżeli liczba ta będzie mniejsza
    od 5 wypisze na ekran "To za mało", jeżeli większa od 10 wypisze "To za
    dużo", w pozostałych przypadkach wypisze "Bingo!".
  </p>

  <input type="text" [(ngModel)]="zad1Field1" />

  <button (click)="zad1Action()">Submit</button>
  <p>{{ zad1Text }}</p>
</section>

<section class="jobSection">
  <h3>Zadanie 2 - Max i min z trzech</h3>
  <p class="description">
    Napisz program, pobierający trzy liczby od użytkownika i wypisujący na ekranie największą oraz najmniejszą z nich.
  </p>

  <input type="text" [(ngModel)]="zad2Field1" />
  <input type="text" [(ngModel)]="zad2Field2" />
  <input type="text" [(ngModel)]="zad2Field3" />



  <button (click)="zad2Action()">Submit</button>

  <div *ngIf="zad2Max && zad2Min">
    <p>Najwieksza Liczba to: {{zad2Max}}</p>
    <p>Najmniejsza Liczba to: {{zad2Min}}</p>
  </div>

</section>

<section class="jobSection">
  <h3>Zadanie 3 - Oceny</h3>
  <p class="description">
    Napisz program, który pokaże na ekranie ocenę w zależności od punktów, jakie uzyskał student wg następującej skali ocen:
  </p>
  <table>
  <ng-template  ngFor let-item  [ngForOf]=" zad3Table">
    <tr>
      <td  >{{item.val1}}</td>
      <td>{{item.val2}}</td>
    </tr>
  </ng-template>
  </table>



  <input type="text" [(ngModel)]="zad3Field1" />

  <button (click)="zad3Action()">Submit</button>


  <p *ngIf="zad3Result">Ocena jest: {{zad3Result}}</p>

</section>


<section class="jobSection">
  <h3>Zadanie 4 - WMC</h3>
  <p class="description">
    W celu określenia stanu masy ciała stosowany jest Wskaźnik Masy Ciała (WMC) (po angielsku Body Mass Index (BMI) ). Wskaźnik ten określa stopień niedowagi, nadwagi lub otyłości.
    WMC = ciezar[kg]/(wysokosc[m])<small>2</small>
  </p>

  <table>

   <ng-template  ngFor let-item  [ngForOf]=" zad4Table">
    <tr>
      <td  >{{item.val1}}</td>
      <td>{{item.val2}}</td>
    </tr>
  </ng-template>
  </table>


  <label for="Podaj Wage">Podaj Wage</label>
  <input type="text" [(ngModel)]="zad4Field1" />
  <label for="Podaj Wzrost">Podaj Wzrost</label>
  <input type="text" [(ngModel)]="zad4Field2" />

  <button (click)="zad4Action()">Submit</button>


  <p *ngIf="zad4Result">Wspolczynnik WMC wynosi: {{zad4Result}} i jest to {{zad4Comment}} </p>

</section>

<section class="jobSection">
  <h3>Zadanie 5 - Funkcja kwadratowa</h3>
  <p class="description">
    Napisz program znajdujący pierwiastki wielomianu drugiego stopnia o dowolnych współczynnikach podanych przez użytkownika.
  </p>



  <input type="text" [(ngModel)]="zad5Field1" />


  <button (click)="zad5Action()">Submit</button>




</section>
