.jobSection{
  border: 1px dashed black;
  padding:20px;
  margin: 10px 0;
}

.description{
width: 30%;
line-height: 1.4rem;

padding:0 10px 10px;

border-bottom: 1px solid red;
}
table{
  width: 30%;
margin: 20px 0;
}
td{
  width: 50px;
}
table, th, td{
  border: 1px solid black;
  border-collapse: collapse;

}
input,label{
  margin: 5px 10px 5px 5px;
}
