@import "../../../assets/sass/helperClassess.scss";

.column {
  display: inline-flex;
  flex-flow: column;
  justify-content: space-around;
  width: 30%;
  margin: 0;
  padding: 10px 20px;

  &:nth-child(odd) {
    background: rgba(black, 0.1);
  }
  h3 {
    text-align: center;
    line-height: 36px;
    border-bottom: 1px solid black;
  }

  @media (max-width: 1230px) {
    width: 33%;
    padding: 10px 0;
  }
}
.sortAll {
  margin: 10px;
  padding: 20px;
  background: lightskyblue;
  border: none;
  border-radius: 5px;
  i {
    padding-left: 10px;
  }
}
